<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test User Story 1 Requirements">
  		<classes>
  				<!-- <class name="testNGtcs.UserStory1"/> -->
  				<!-- <class name="testNGtcs.checkStaff"/> -->
  				<class name="testNGtcs.UserStory1"/>
  		</classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test User Story 2 Requirements">
  		<classes>
  				<!-- <class name="testNGtcs.UserStory1"/> -->
  				<!-- <class name="testNGtcs.checkStaff"/> -->
  				<class name="testNGtcs.UserStory2"/>
  		</classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test User Story 3 Requirements">
  		<classes>
  				<!-- <class name="testNGtcs.UserStory1"/> -->
  				<!-- <class name="testNGtcs.checkStaff"/> -->
  				<class name="testNGtcs.UserStory3"/>
  		</classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
